name: CI/CD for Smart-Doc_Ai

on:
  push:
    branches:
      - master 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11
      
    - name: Install dependencies
      run: |
        pip install -r requirements.txt

      
    - name: Deploy to production (example)
      if: github.ref == 'refs/heads/master'
      run: |
        
